node_modules/
.DS_Store
.env
.env.local

# Python
__pycache__/
*.pyc
venv/
.venv/
*.db

# Frontend Next.js build output
.next/
out/
build/

# Ignore all files inside the uploads directory and nested directories
backend/uploads/**
uploads/**

# Do not ignore directories, so that they can be committed
!backend/uploads/**/
!uploads/**/

# Do not ignore the .gitkeep files to maintain the folder structure
!backend/uploads/**/.gitkeep
!uploads/**/.gitkeep
